:root {
  --primary-color: teal;
  --primary-darker-color: rgb(89, 140, 140);
  
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

li {
  list-style: none;
}

ol, ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

nav {
  padding: 1em 2em;
  box-shadow: 0 0 10px grey;

  li {
    position: relative;
  }
  
  a:hover {
    color: var(--primary-color);
  }



  ol {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .nav-1, .nav-2 {
      display: flex;
      align-items: center;
    }
    
    .nav-2 {
      gap: 3em;
    }
  }

  .signup_btn {
    --transition-time: 150ms;

    border: none;
    padding: .5em 1em;
    background-color: white;
    outline: 1px solid rgb(193, 193, 193);
    box-shadow: 0 3px 5px rgb(199, 199, 199);
    transition: var(--transition-time) ease-in-out all;
    
    a {
      transition: var(--transition-time) ease-in-out all;
    }

    &:hover {
      background-color: teal;

      a {
        color: white;
      }
    }

  }
  
  .cart-link a {
    display: flex;
    align-items: center;
    gap: .25em;
    color: black;
    
    &:hover {
      color: var(--primary-color);
    }

    
    .cart-icon {
      stroke-width: 1.5;
      height: 100%;
    }
  }

  @media (min-width: 650px) {
    .hamburger-icon {
      display: none;
    }
  }

  @media (max-width: 650px) {
    ol {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      gap: 1em;

      .nav-1 {
        display: none;
        align-self: start;
      }

      .nav-2 {
        display: none;
        gap: 1em;
        align-self: start;
        align-items: start;
      }

      .hamburger-icon {
        align-self: start;
        cursor: pointer;
        height: 100%;
        display: block;
        stroke-linecap: square;
  
        &:hover ~ .nav-1,
        &:hover ~ .nav-2 {
          display: flex;
          flex-direction: column;
        }
      }

      .cart-link {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.login_wrapper, .signup_wrapper {
  width: min(90%, 600px);
  margin: 0 auto;
  padding: 5em;

  display: flex;
  flex-direction: column;
  gap: 1em;

  a {
    color: var(--primary-color);

    &:hover {
      text-decoration: underline;
    }
  }

  .home-foot-link {
    color: rgb(175, 175, 175);
  }
  
  .login-form, .signup-form {
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0;
      margin-bottom: 1em;
    }

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.25em;

      label {
        margin-bottom: .35em;
      }

      input {
        font-size: .9rem;
        border-radius: 4px;
        padding: .75em;
        border: none;
        outline: 1px dashed rgb(180, 180, 180);
        box-shadow: 0 0px 5px rgb(225, 225, 225);

        &::placeholder {
          color: rgb(198, 198, 198);
          font-style: italic;
        }

        &:focus {
          outline: 2px solid var(--primary-color);
        }
      }
    }

    button {
      font-size: .9rem;
      margin-top: 1em;
      padding: .75em 2em;
      width: max-content;
      align-self: center;
      border: none;
      border-radius: 4px;
      background-color: white;
      outline: 1px dashed grey;
      box-shadow: 0 0px 5px rgb(225, 225, 225);
      transition: 100ms ease-in;

      &:hover {
        background-color: var(--primary-color);
        outline: none;
        color: white;
      }
      
    }
  }
}


.hero-wrapper {
  display: flex;
  max-width: min(80%, 1250px);
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;

  box-shadow: 0 0px 10px rgb(209, 209, 209);
  border-radius: 10px;

  .hero-info {
    width: 50%;
    text-align: center;

    div {
      width: 80%;
      margin: 13em auto;

      .begin-shopping_btn {
        padding: 1em 2em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        background-color: rgb(255, 184, 92);

        &:hover {
          background-color: var(--primary-color);
          color: white;
        }
      }
    }

    h1 {
      font-size: 3rem;
    }

  }

  .latest-listing_wrapper {
    --padding: 1em;
    --h2-margin-bot: .5em;
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  
    .image-slider_wrapper {
      width: 450px;
    }

    a {
      margin: 1em 0;
      text-decoration: underline;

      &:hover {
        color: var(--primary-color)
      }
    }
    
    h2 {
      margin: 1em 0;
      margin-bottom: 0;
      text-align: center;
      font-size: 2rem;
    }
  }



  @media (max-width: 1000px) {
    flex-direction: column;
    height: 100%;
    gap: 1em;
    margin-bottom: 5em;

    .hero-info {
      width: 100%;
      text-align: center;

      
      div {
        margin: 1em auto;
      }
    }

  }

}


.market_wrapper {
  /* background-color: #dfddd8; */
  padding: 1em;


  .market-filter_wrapper {
    /* border: 2px solid black; */
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: .5em;
    padding: 2em;
    box-shadow: 0 5px 10px rgb(225, 225, 225);
    outline: 1px solid rgb(193, 193, 193);


    display: flex;
    flex-direction: column;
    gap: 1em;

    .filters_wrapper {
      display: flex;
      flex-direction: column;
      gap: .5em;

      width: fit-content;
      margin: 0 auto;

      .select_filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
      }

      .price-range_filter {
        width: 100%;
        margin-top: 1em;
        
        > div {
          display: flex;
          gap: 1em;

          .price-ranges >* {
            display: flex;
            width: 100%;
          }

          @media (max-width: 500px) {
            flex-direction: column;
            gap: .5em;

            .price-ranges >* {
              flex-direction: column;
              margin-bottom: 1em;
            }
          }
        }

      }

      .clear-filter_btn {
        width: max-content;
      }
    }

    .search-bar {
      display: flex;
      /* border: 1px solid black; */

      form {
        width: 100%;
        display: flex;
        gap: .5em;
        justify-content: space-between;
        
        .input_bar {
          width: 100%;
          border: none;
          outline: 1px solid rgb(193, 193, 193);
          /* box-shadow: 0 5px 5px rgb(225, 225, 225); */
          padding: .5em;
        }
        
        .input_btn {
          width: fit-content;
          padding: 0 1.5em;
          border: none;
          cursor: pointer;
          outline: 1px solid rgb(193, 193, 193);
          /* box-shadow: 0 5px 5px rgb(225, 225, 225); */

          &:hover {
            background-color: rgb(196, 196, 196);
          }
        }
      }

    }
  }

  .furniture-listings_wrapper {
    display: grid;
    padding: 1em 0;

    .furniture-listing {
      --sold-color: teal;
      --background-color: #ffffff;
      --hover-color: rgba(43, 43, 43, 0.233);

      outline: 1px solid rgb(193, 193, 193);
      background-color: var(--background-color);
      box-shadow: 0 10px 10px rgb(225, 225, 225);
      position: relative;
      
      padding: 1em;

      .listing-header {
        /* background-color: tomato; */

        display: flex;
        justify-content: space-between;
        align-items: center;

        .listing-title {
          font-size: 1.25rem;
        }

        .listing-cost {
          font-size: 1.1rem;
          box-shadow: 0 0px 5px rgb(225, 225, 225);
          padding: .25em .5em;
          outline: 1px solid rgb(193, 193, 193);
          margin-left: .5em;
        }

        .listing-bought {
          font-size: 1.1rem;
          padding: .25em .5em;
          outline: 2px solid var(--sold-color);
          margin-left: .5em;
          color: var(--sold-color);
          font-weight: bold;
        }
      }
      
      
      .listing-metadata {
        display: flex;
        font-size: .8rem;
        align-items: center;
        gap: .5em;
        margin-top: .5em;
        flex-wrap: wrap;

        >* {
          outline: 1px solid rgb(193, 193, 193);
          padding: .5em;
          background-color: #f9f9f9;
          box-shadow: 0 3px 3px rgb(225, 225, 225);

        }
      }
      
      .img_wrapper {
        height: 300px;
        margin: 1em 0;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      
      .overlay-hover {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        /* background-color: var(--hover-color); */
        background-color: rgba(255, 255, 255, 0.944);
        opacity: 0;
        display: grid;
        place-items: center;
        transition: 150ms ease-in-out;
      }

      &:hover .overlay-hover {
        cursor: pointer;
        opacity: 1;
      }
    }
    
    gap: 1em;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }


  }

}


.acc-dropdown {
  position: relative;
  display: inline-block;

  &:hover .acc-dropdown-content {
    display: block;
  }

  .acc-dropdown_btn {
    padding: 1em 0;
  }

  .acc-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  
    border-radius: 10px;
    
    right: 0;
    top: 1.5em;
  
    .acc-balance {
      padding: 1em 1.5em;
      border-bottom: 1px solid rgb(171, 171, 171);
    }
  
    a {
      color: black;
      padding: .5em 1.5em;
      display: block;
  
      &:hover {
        background-color: tomato;
      }
    }
  
    .logout-link {
      margin-top: 1em;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}


.my-address_wrapper {
  max-width: min(80%, 800px);
  margin: 3em auto;
  /* border: 2px solid rgb(156, 37, 37); */
  padding: 1em;

  h1 {
    margin: 1em 0;
    margin-top: 0;
  }
  
  .addresses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    
  
    >* {
      border-radius: 10px;
      padding: 1em;
      aspect-ratio: 1;
    }
  
    .add-addr_btn {
      background-color: white;
      border: 2px dashed rgb(185, 185, 185);
  
      &:hover {
        background-color: rgb(228, 228, 228);
      }
    }
  
    .address-item {
      box-shadow: 0 5px 5px rgb(193, 193, 193);
      outline: 1px solid rgb(147, 147, 147);
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .address-buttons > button {
        margin-right: .5em;
  
        border: none;
        padding: .5em 1em;
        outline: 1px dashed grey;
        border-radius: 5px;
        background-color: f8f8f8;
        
  
        &:hover {
          background-color: teal;
          color: white;
          outline: none;
        }
      }

      .address-delete-dialog {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.267);
        border: none;

        display: grid;
        place-items: center;


        > div {
          background-color: white;
          display: flex;
          flex-direction: column;
          gap: 1em;
          padding: 2em;
          align-items: center;
          border: 1px solid rgb(133, 133, 133);
          font-size: 1.5rem;
          border-radius: 5px;
          background-color: white;

          .dialog-buttons {
            display: flex;
            gap: .5em;

            button {
              width: 100px;
              padding: .5rem 2rem;
              border: none;
              outline: 1px dashed rgb(168, 168, 168);
              border-radius: 5px;
              box-shadow: 0 0px 5px rgb(209, 209, 209);

              &:hover {
                background-color: teal;
                color: white;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}


.address-form_wrapper {
  padding: 1em;
  max-width: min(95%, 550px);
  margin: 5em auto;

  .address-form {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;

    h1 {
      margin: 0;
    }

    input {
      padding: .5em;
      border-radius: 5px;
      border: none;
      outline: 1px dashed grey;
    }

    input[type="checkbox"] {
      outline: none;
      cursor: pointer;
    }

    button {
      padding: .75em 1.25em;
      width: max-content;
      background-color: white;
      border: none;
      outline: 1px dashed grey;
      border-radius: 10px;
      transition: .1s linear;

      margin-right: 1em;

      &:hover {
        background-color: orange;
        outline: none;
      }
    }


    .street {
      width: 100%;
    }

    .first-fields {
      display: flex;
      flex-direction: column;
      gap: .25em;
    }

    .second-fields {
      display: flex;
      gap: 1em;
      justify-content: center;

      .city {
        width: 50%;
      }
      .state {
        width: 25%;
      }
      .zip {
        width: 25%;
      }
    }

  }
}


.purchase-history {
  padding: 1em;


  max-width: min(100%, 1000px);
  margin: 0 auto;

  .purchase-history-labels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-bottom: 1em;

  }
  
  
  .purchase-history_wrapper {
    display: flex;
    flex-direction: column;
    gap: .5em;
  
    .purchase-history_item {
      border: 1px solid black;
      padding: .25em;
      border-radius: 5px;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: .25em;
      text-align: center;


      cursor: pointer;

      > div {
        border: 1px solid rgb(174, 174, 174);
        padding: .5em;
        border-radius: 5px;
        font-size: 1rem;
      }


      &:hover {
        background-color: rgb(230, 230, 230);
      }

    }

    .purchase-history_item-null {
      border: 1px solid black;
      padding: .25em;
      border-radius: 5px;

      > div {
        border: 1px solid rgb(174, 174, 174);
        padding: .5em;
        border-radius: 5px;
        font-size: 1rem;

        text-align: center;
      }
    }
  }
}


.list-furniture_wrapper {
  /* border: 1px solid tomato; */

  --font-size: .85rem;
  --border-radius: 4px;

  width: min(90%, 800px);
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 5em;

  display: flex;
  flex-direction: column;
  gap: 1em;

  h1 {
    margin: 0;
  }

  .list-furniture-form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;


    > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.25em;

      label {
        margin-bottom: .35em;
      }

      input {
        font-size: var(--font-size);
        border-radius: var(--border-radius);
        padding: .75em;
        border: none;
        outline: 1px dashed rgb(180, 180, 180);
        box-shadow: 0 0px 5px rgb(225, 225, 225);

        font-family: monospace;
        

        &::placeholder {
          color: rgb(198, 198, 198);
          font-style: italic;
        }

        &:focus {
          outline: 2px solid var(--primary-color);
        }
      }

      select {
        font-size: var(--font-size);
        border-radius: var(--border-radius);
        padding: .75em;
        border: none;
        outline: 1px dashed rgb(180, 180, 180);
        box-shadow: 0 0px 5px rgb(225, 225, 225);

        font-family: monospace;

        &:focus {
          outline: 2px solid var(--primary-color);
        }
      }

    }

    .list-description {
      textarea {
        font-size: var(--font-size);
        max-width: 100%;
        min-width: 100%;
        min-height: 100px;


        border: none;
        padding: .75em;
        border-radius: var(--border-radius);
        outline: 1px dashed rgb(180, 180, 180);
        box-shadow: 0 0px 5px rgb(225, 225, 225);

        &:focus {
          outline: 2px solid var(--primary-color);
        }

        &::placeholder {
          color: rgb(198, 198, 198);
          font-style: italic;
        }
      }
    }

    .list-metadata {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.5em;
      flex-wrap: wrap;

      > div {
        display: flex;
        flex-direction: column;
      }
    }

    .list-images {
      .image-info {
        font-family: monospace;
        border: none;
        padding: 1em;
        border-radius: var(--border-radius);
        outline: 1px dashed rgb(180, 180, 180);
        box-shadow: 0 0px 5px rgb(225, 225, 225);

        display: flex;
        flex-direction: column;

        .image-input {
          font-size: var(--font-size);
          padding: .75em 2em;
          width: max-content;
          align-self: center;
          border: none;
          border-radius: var(--border-radius);
          background-color: white;
          outline: 1px dashed grey;
          box-shadow: 0 0px 5px rgb(225, 225, 225);
          transition: 100ms ease-in;
          cursor: pointer;
          margin-bottom: 1em;
  
          font-family: monospace;
    
          &:hover {
            background-color: var(--primary-color);
            outline: none;
            color: white;
          }
        }
  
        input {
          display: none;
        }
  
        .image-files_wrapper {
          margin: 0;
  
          .files-selected_header {
            padding-bottom: .5em;
            border-bottom: 1px dashed rgb(185, 185, 185);
            margin-bottom: 1em;
          }
    
          .files-list {
            padding-left: 1.5em;
    
            > li {
              list-style: disc;
              margin-bottom: .5em;
            }
          }
        }
  
      }
      }


    .list-finish_btn {
      font-size: .9rem;
      margin-top: 1em;
      padding: .75em 2em;
      width: max-content;
      align-self: center;
      border: none;
      border-radius: var(--border-radius);
      background-color: white;
      outline: 1px dashed grey;
      box-shadow: 0 0px 5px rgb(225, 225, 225);
      transition: 100ms ease-in;

      &:hover {
        background-color: var(--primary-color);
        outline: none;
        color: white;
      }
      
    }
  
  }

  .list-form-err {
    color: red;
    font-weight: bold;
    font-family: monospace;
    font-size: 1rem;
    background-color: rgba(255, 38, 0, 0.089);
    padding: .5em 1em;
    outline: 1px solid red;
  }
}

.dashboard_wrapper {
  /* border: 1px solid black; */
  width: min(95%, 1000px);
  margin: 0 auto;
  padding: 1em;

  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    > .dashboard-grid-item {
      outline: 1px dashed rgb(140, 140, 140);
      padding: 1.5em;
      cursor: pointer;
      border-radius: 4px;

      height: 125px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;


      &:hover {
        outline: 2px solid var(--primary-color);
        
        div {
          color: var(--primary-color);
        }
        .subtext {
          color: var(--primary-darker-color);
        }
        svg {
          color: var(--primary-color);
        }
      }

      > div {
        width: 80%;
        /* border: 1px solid black; */
      }

      .subtext {
        color: rgb(94, 94, 94);
        font-size: .95rem;
      }
    }

  }
}

.shopping-cart_wrapper {
  width: min(95%, 1350px);
  margin: 0 auto;

  --grey: rgb(169, 169, 169);


  .cart_wrapper {
    display: flex;
    gap: 1em;
    justify-content: space-between;

    .cart-items_wrapper {
      display: flex;
      flex-direction: column;
      gap: 1em;
      flex-grow: 1;
  
      .cart-item {
        padding: 1em;
        border: 1px solid var(--grey);

        display: flex;
        justify-content: space-between;
        gap: 2em;
  
        .cart-main {
          /* border: 1px solid tomato; */
          display: flex;
          gap: 1em;

          .cart-item-img_wrapper {
            width: 150px;
            height: 150px;
            aspect-ratio: 1;
    
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
  
        .cart-side {
          /* border: 1px solid tomato; */
          width: max-content;
          text-wrap: nowrap;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          button {
            padding: .5em 1em;
            background-color: white;
            border: none;
            outline: 1px dashed rgb(158, 158, 158);
            box-shadow: 0 0 5px rgb(223, 223, 223);
            border-radius: 4px;

            &:hover {
              outline: none;
              color: white;
              background-color: black;
            }
          }
        }
  
        
      }
    }
  
    .cart-info_wrapper {
      border: 1px solid var(--grey);
      padding: 1em;
      width: 30%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cart-totals {
        display: flex;
        flex-direction: column;
        gap: 1em;

        > div {
          display: flex;
          justify-content: space-between;
          gap: 1em;
        }

        &::after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          border-top: 1px dashed rgb(174, 174, 174);
        }
      }

      .cart-subtotal {
        padding: .5em 0;
        text-align: right;

      }


      .checkout_btn {
        padding: 1em 3em;
        background-color: white;
        box-shadow: 0 0 10px rgb(232, 232, 232);
        outline: 1px dashed var(--grey);
        transition: color 100ms ease-in, background-color 100ms ease-in;
        border-radius: 4px;
        border: none;

        &:hover {
          background-color: var(--primary-color);
          color: white;
          outline: none;
        }
      }
    }

  }

  @media (max-width: 850px) {
    .cart_wrapper {
      flex-direction: column;

      .cart-info_wrapper {
        width: 100%;

        .checkout_btn {
          margin-top: 3em;
          /* width: max-content; */
        }

      }
    }
  }

  @media (max-width: 510px) {
    .cart-item {
      flex-direction: column;

      .cart-main {
        flex-direction: column;
        align-items: center;

        text-align: center;
      }

      .cart-side {
        text-align: center;
        align-self: center;
        gap: 1em;
      }
    }
  }

}

.your-furniture-listings_wrapper {
  width: min(90%, 1000px);
  margin: 0 auto;

  .listings_wrapper {

    .your-listing_wrapper {
      --sold-color: teal;
      --background-color: #ffffff;

      outline: 1px solid rgb(193, 193, 193);
      background-color: var(--background-color);
      /* box-shadow: 0 0px 10px rgb(225, 225, 225); */
      padding: 1em;

      .your-listing-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        margin-bottom: 1em;

        > div {
          display: flex;
          gap: 1em;
        }

        .img_wrapper {
          height: 150px;
          width: 150px;
          aspect-ratio: 1;
          
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }


        .listing-title {
          margin: 0;
          margin-bottom: .5em;
          font-size: 1.25rem;
        }

        .listing-cost {
          align-self: flex-start;
          font-size: 1.1rem;
          box-shadow: 0 0px 5px rgb(225, 225, 225);
          padding: .25em .5em;
          outline: 1px solid rgb(193, 193, 193);
          margin-left: .5em;
        }

        .listing-bought {
          align-self: flex-start;
          font-size: 1.1rem;
          padding: .25em .5em;
          outline: 2px solid var(--sold-color);
          margin-left: .5em;
          color: var(--sold-color);
          font-weight: bold;
        }

      }
      
      
      .listing-metadata {
        display: flex;
        font-size: .8rem;
        align-items: center;
        gap: .5em;
        margin-top: .5em;
        flex-wrap: wrap;

        >* {
          outline: 1px solid rgb(193, 193, 193);
          padding: .5em;
          background-color: #f9f9f9;
          box-shadow: 0 3px 3px rgb(225, 225, 225);

        }
      }
      
      @media (max-width: 500px) {
        .your-listing-main {
          flex-direction: column;

          > div {
            flex-direction: column;
            align-items: center;
          }

          text-align: center;

          .listing-cost {
            align-self: center;
          }

          .img_wrapper {
            width: 100%;
          }

        }

        .listing-metadata {
          justify-content: center;
        }
      }
    }
  }
}


.image-slider_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
    cursor: pointer;
  }

  .slider-image {
    --padding: .25em;
    position: relative;
    display: flex;
    padding: var(--padding);

    outline: 1px solid rgb(194, 194, 194);
    box-shadow: 0 5px 10px rgb(194, 194, 194);


    .img-hover {
      position: absolute;
      width: calc(100% - var(--padding)*2);
      height: calc(100% - var(--padding)*2);
      display: grid;
      place-items: center;
      background-color: rgb(183, 183, 183, .5);
      color: white;
      opacity: 0;
      cursor: pointer;
    }

    &:hover .img-hover {
      opacity: 1;
    }

  }
  
  .expanded-img-closer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: rgba(34, 34, 34, 0.6);
    border: none;
    cursor: pointer;
  }

  .expanded-img {
    position: fixed;
    inset: 0;
    z-index: 5;
    width: min(85%, 800px);
    border: none;
    padding: .5em;

    img {
      margin: 0 auto;
      opacity: 1;
      height: fit-content;
      object-fit: contain;
      object-position: center;
      user-select: none;
      cursor: default;
      pointer-events: none;
    }

  }
  
  .slider-mini {
    display: flex;
    gap: .5em;
    width: fit-content;
    padding: .25em;
    margin: 1em 0;
    margin-top: 2em;

    
    .img_wrapper {
      transition: transform 100ms;
      border: 1px solid rgb(159, 159, 159);
      width: 75px;
      opacity: .35;
    }
  }
}


.detailed-listing_wrapper {
  width: min(95%, 1250px);
  margin: 2em auto;
  display: flex;
  gap: 2em;

  .image-slider_wrapper {
    width: min(90%, 550px);
  }


  .detailed-listing-info {
    --border-radius: 5px;
    flex-grow: 1;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    .detailed-listing-main {
      display: flex;
      flex-direction: column;
      gap: 1em;
      
      padding: 3em 2em;
      border-radius: var(--border-radius);
      outline: 1px solid rgb(193, 193, 193);
      box-shadow: 0 0px 10px rgb(218, 218, 218);

      .detailed-cost {
        align-self: flex-end;
        font-size: 1.75rem;
        padding: .25em .5em;
        border-radius: var(--border-radius);
        outline: 1px solid rgb(193, 193, 193);
      }

      .detailed-bought {
        align-self: flex-end;
        font-size: 1.75rem;
        padding: .25em .5em;
        font-weight: bold;
        outline: 2px solid var(--primary-color);
        color: var(--primary-color);
      }
    }

    h1 {
      margin: 0;
    }

    .listing-metadata {
      display: flex;
      flex-direction: column;

      > div {
        padding: .5em 0;

        display: flex;
        justify-content: space-between;

        outline: 1px solid rgb(193, 193, 193);
        padding: .5em;
        background-color: #f9f9f9;
        box-shadow: 0 3px 3px rgb(186, 186, 186);
      }

    }

    .add-to-cart_btn {
      padding: 1em;
      border: none;
      font-size: .9rem;
      transition: 100ms ease-in;
      border-radius: var(--border-radius);
      outline: 1px dashed rgb(165, 165, 165);
      box-shadow: 0 0px 10px rgb(218, 218, 218);

      &:hover {
        background-color: black;
        color: white;
        outline: none;
      }
    }

    .post-cart-add_btn {
      text-align: center;
      padding: 1em;
    }
  }

}
@media (max-width: 750px) {
  .detailed-listing_wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.login-security_wrapper {
  width: min(90%, 600px);
  margin: 3em auto;

  .loginsec-info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    padding: 1em;
    border-radius: 5px;
    border: 1px solid rgb(207, 207, 207);

    .edit_buttons {
      display: flex;
      gap: .25em;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-wrap: nowrap;

      > div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: .5item;
      }

    }

    button {
      padding: .25em 2em;
      border: none;
      outline: 1px dashed grey;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: var(--primary-color);
        color: white;
        outline: none;
      }
    }

    input {
      display: block;
      border: none;
      outline: 1px dashed rgb(156, 156, 156);
      border-radius: 4px;
      padding: .15em .25em;

      &:focus {
        outline: 2px solid var(--primary-color);
      }
    }

    @media (max-width: 360px) {
      background-color: tomato;
      
      > div {
        text-wrap: wrap;
        flex-direction: column;
      }
    }
  }
}


.purchase-history-detailed_wrapper {
  width: min(90%, 1150px);
  margin: 5em auto;

  .history-list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4em;


    .history-detail_wrapper {
      border: 1px solid rgb(211, 211, 211);
      padding: 2em;
      box-shadow: 0 5px 10px rgb(214, 214, 214);
      border-radius: 7px;

      .detail-tag {
        font-style: italic;
      }

      .detail-header {
        margin-bottom: 1em;
        h2 {
          font-size: 1.7rem;
          margin-top: .5em;
          margin-bottom: .25em;
        }

        .desc-content {
          border: 1px dashed rgb(165, 165, 165);
          padding: .5em;
          border-radius: 4px;

          span {
            font-style: italic;
          }
        }
      }


      .detail-item {

        > div:nth-child(1) {
          display: flex;
          justify-content: space-between;
          gap: 2em;
        }


        .image-slider_wrapper {
          width: 50%;
          
        }
  
        .detail-main {
          display: flex;
          flex-direction: column;
          gap: 1em;
          width: 50%;
          /* flex-grow: 1; */

          .detail-orderid {
            background-color: #f9f9f9;

            padding: 1em;
            outline: 1px solid rgb(193, 193, 193);
            box-shadow: 0 3px 3px rgb(186, 186, 186);
          }
  
          .detail-order-info {
            background-color: #f9f9f9;

            outline: 1px solid rgb(193, 193, 193);
            box-shadow: 0 3px 3px rgb(186, 186, 186);
            padding: 1em;
  
            display: flex;
            flex-direction: column;
            gap: .5em;
  
            > div div {
              outline: 1px solid rgb(193, 193, 193);
              padding: .25em;
              border-radius: 4px;
              box-shadow: 0 2px 3px rgb(207, 207, 207);
            }

            .info-label {
              width: 25%;
            }

            .info-content {
              width: 75%;
            }
  
            > div {
              display: flex;
              gap: .25em;
              justify-content: space-between;
            }
          }
        }
  
        .detail-metadata {
          display: flex;
          flex-direction: column;

          > div {
            padding: .5em 0;

            display: flex;
            justify-content: space-between;

            outline: 1px solid rgb(193, 193, 193);
            padding: .5em;
            background-color: #f9f9f9;
            box-shadow: 0 3px 3px rgb(186, 186, 186);
          }
        }
      }
    }

  }
}

